@model MacOverflow.ViewModels.QuestionCreateViewModel;
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Current = "Profile";
}

@if (User.Identity.IsAuthenticated)
{
    <h3 style="margin-top: 15px">Create Question</h3>
    <form method="post">
        <div class="row" style="margin-top: 15px">
            <div class="col-lg-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Question.Title" class="control-label"></label>
                    <input asp-for="Question.Title" class="form-control" />
                    <span asp-validation-for="Question.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.Question" class="control-label"></label>
                    <input asp-for="Question.Question" class="form-control" />
                    <span asp-validation-for="Question.Question" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.Topic" class="control-label"></label>
                    <select asp-for="Question.TopicId" class="form-control">
                        <option selected="selected" disabled="disabled">
                            ------Select a Category for the topic------
                        </option>
                        @foreach (var topic in Model.StoredTopics)
                        {
                            <option value="@topic.TopicId">
                                @topic.Topic
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Question.ImportanceLevel" class="control-label"></label>
                    <select asp-for="Question.ImportanceLevel" class="form-control">
                        <option selected="selected" disabled="disabled">
                            ------Select an Importance Level for the question------
                        </option>
                        <option value="High">
                            High
                        </option>
                        <option value="Medium">
                            Medium
                        </option>
                        <option value="Low">
                            Low
                        </option>
                    </select>
                    <span asp-validation-for="Question.ImportanceLevel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question.RecommendedAudience" class="control-label"></label>
                    <select asp-for="Question.RecommendedAudience" class="form-control">
                        <option selected="selected" disabled="disabled">
                            ------Select a Recommended Audience for the question------
                        </option>
                        <option value="Peers">
                            Peers
                        </option>
                        <option value="Teaching Assistants">
                            Teaching Assistants
                        </option>
                        <option value="Professors">
                            Professors
                        </option>
                        <option value="University Administrators">
                            University Administrators
                        </option>
                    </select>
                    <span asp-validation-for="Question.RecommendedAudience" class="text-danger"></span>
                </div>
            </div>
        </div>
        <footer class="border-top footer" style="margin-left: -15px">
            <button type="submit" asp-action="Create" class="btn btn-primary" style="margin-left: 15px">Create</button>
        </footer>
    </form>
}
else
{
    <h3 style="margin-top: 15px">Create Question</h3>

    <p>In order to create questions you must Login or Register in the application</p>
    <a class="btn btn-light" asp-action="Login" asp-controller="Account">Login</a>
    <a class="btn btn-light" asp-action="Register" asp-controller="Account">Register</a>
}


